USERNAME = '' # Usuário da câmera IP
PASSWORD = '' # Senha da câmera IP
PORT = 000 # Porta do RTSP

DEVICE_TYPE = 'cpu' # Tipo de dispositivo para processamento: "cpu", "cuda" ou "mps"
SHOW_WINDOW = False # Se carrega a janela de visualização ou não
TAKE_PICTURE = True # Se tira foto quando detecta movimento ou não
TAKE_RECORD = True # Se grava vídeo quando detecta movimento ou não
CAT_REPELLENT_AUDIO = 'shiii.mp3' # Arquivo de áudio reproduzido ao detectar gato

CAMERAS = '[]' # Câmeras a serem monitoradas - [ { "name": "Garagem", "ip": "192.168.0.10" } ]
TUYA_LIGHTS = '[]' # Lâmpadas a serem acionadas -  {"id": "id-lampada-1", "name": "Jardim", "key": "chave-lampada-1", "ip": "192.168.1.20", "type": "bulb", "dps": 1, "version": 3.3}]